/* maandumisleht.html */
.jumbotron {
    background-color: rgb(248, 238, 226)!important;
    color: rgb(121, 119, 119);
    font-family: 'Alkatra';
    height: 60vh;
}
.jumbotron hr {
    border-top: 1px solid;
}
.jumbotron a {
    font-family: 'Alkatra';
}
.jumbotron .btn {
    width: 225px;
}
p, h6 {
    font-family: 'Alkatra';
}
footer {
    padding: 40px;
}
.fas {
    font-size: 20px;
    width: 40px;
    text-decoration: none;
}
.fab {
    font-size: 25px;
    height: 25px;
}
footer .btn {
    width: 150px;
}
/* maandumisleht.html */

/* raamatuteValik.html */
header {
    background-color: rgb(248, 238, 226);
}
#disabled {
    color: rgb(121, 119, 119);
    font-family: 'Alkatra';
    text-decoration: none;
    outline: none;
}
.lnr {
    display: inline-block;
    fill: currentColor;
    width: 1em;
    height: 1em;
    vertical-align: -0.05em;
    stroke-width: 2;
}
.lnr-magnifier {
    color: #000000;   
}
.lnr-cart .lnr-user {
    width: 1.5em;
    height: 1.5em;
}
.navbar-nav li {
    margin-right: 1em;
    font-family: 'Alkatra';
}
h2, h5 {
    font-family: 'Alkatra';
}
.card-body {
    align-content: center;
}
body .carousel-control-prev-icon,
body .carousel-indicators li,
body .carousel-control-next-icon {
    background-color: transparent;
}
span.carousel-control-prev-icon {
    position: relative;
    bottom: 40px;
    right: 40px;
}
span.carousel-control-next-icon {
    position: relative;
    bottom: 40px;
}
.col-md-4 {
    display: inline-block;
    margin: -10px;
}
.col-md-4 img {
    width: 100%;
    height: auto;
}
.bi.bi-star-fill {
    font-size: 25px; 
    color: rgb(255, 210, 48);
}
/* raamatuteValik.html */



section {
    margin-top: 40px;
}
.h {
    text-align: center;
}
.form-check i {
    font-size: 36px;
} 
#vahe {
    margin-right:2%;
}